<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ShareUDb"
			 connectionString="Data Source=.\MSSQLSERVER02;Initial Catalog=denemeproje2;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
